.pro-sidebar {
  position: absolute;
  right: 0;
  height: 100% !important;
}
.pro-sidebar * {
  color: white !important;
}
.pro-sidebar-inner {
  -webkit-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  background: rgba(19, 107, 64, 0.9) !important;
}
.navbar {
  display: none;
}
.bg-glass {
  background-color: rgba(0, 0, 0, 0.4);
}
.hideInBigScreen > .sm-icons{
  display:none;
}
.HomeContainer {
  background-image: url("./assets/backgrounds/Home.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
@media only screen and (max-width: 768px) {
  .pro-sidebar {
    display: none;
  }
  .citheader {
    display: none !important;
  }
  .navbar {
    display: block;
  }
  .hideInBigScreen > .sm-icons{
    display:block;
  }
  .HomeContainer {
    background-image: url("./assets/backgrounds/HomeMobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.AboutContainer {
  background-color:#142a42;
  background-image: url("./assets/backgrounds/About.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.tkheader {
  width: 100%;
  padding: 1rem 2rem;
  z-index: 1;
}
.tkheader > a > img {
  height: 80px;
}
