.pro-sidebar {
  position: absolute;
  right: 0;
  height: 100% !important;
}
.pro-sidebar * {
  color: white !important;
}
.pro-sidebar-inner {
  background: rgba(19, 107, 64, 0.9) !important;
}
.HomeContainer {
  background-image: url("./assets/backgrounds/Home.jpg");
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center center;
}
.AboutContainer {
  background-image: url("./assets/backgrounds/About.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.tkheader {
  width: 100%;
  padding: 1rem 2rem;
}
.tkheader > a > img {
  height: 80px;
}
